.sign-in-body{
    background-color: #FAD9C5;
    width:100vw;
    height:100vh;
    display:flex;
}

.sign-in-container{
    width:300px;
    height:600px;
    border:1px solid black;
    border-radius: 20px;
}

